page-withdraw{
  .keyongyue{
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    margin-top: 1px;
    padding-left: 20px;
    color: #808080;
    font-size: 13px;
  }
  .button-ios{
    background-color: #0dacfa;
  }
  .button-md{
    background-color: #0dacfa;
  }
  .label-md-dark, .item-input .label-md-dark, .item-select .label-md-dark, .item-datetime .label-md-dark {
    color: #808080;
    font-size: 14px;
  }
  .tishi{
    padding-left: 15px;
    color: #bbb;
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    font-size: 20px;
    height: 40px;
  }
  .currency{
    padding: 6px 8px;
    margin:5px 5px  0 0;
    background: #EAEEF1;
    border-radius: 16px;
    color: #888;
    font-size: 1.2rem;
    text-align: center;
    float: left;
    display: inline-block;
  }

  .withdrawals_list{
    width: 100%;
    background: #fff;
    padding: 0 15px;
    font-size:1.5rem;

    .p1{
      height:4rem;
      line-height:4rem;
      color: #888;

      span{
        display: inline-block;
        float: left;
      }
      .currency{
        line-height:normal;
        padding: 6px 8px;
        margin:11px 0 0 8px;
        background: #EAEEF1;
        border-radius: 10px;
        font-size: 1.2rem;
        text-align: center;
        float: left;
        display: inline-block;
      }
    }
    .p2{
      position: relative;

      .symbol{
        width: 15%;
        height:6rem;
        line-height:6rem;
        float: left;
        font-size:2.7rem;
      }
      input{
        width: 70%;
        float: left;
        height:6rem;
        line-height:6rem;
        background: #fff;
        border:none;
      }
      .all{
        position: absolute;
        z-index: 2;
        top:1.5rem;
        right:0;
        height:3rem;
        line-height:3rem;
        color: #0DACFA;
        font-size:1.3rem;
      }
    }
    .p3{
      border-top:1px solid #f1f1f1;
      height:3rem;
      line-height:3rem;
      color: #bbb;
      font-size:1.2rem;
    }
  }
}
