page-forgetpassword {
  ::-webkit-input-placeholder {
    color: #999 !important;
  }
  .login-container {
    color: white;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  .button-clear-md {
    color: #FFFFFF;
  }
  .button-ios-primary {
    background-color: #2faff9;
  }

  .item-md .item-button{
    font-size:1.4rem;
  }
}