<!--<ion-header>-->
<!--<ion-navbar color="secondary">-->
<!--<ion-title>忘记密码</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->
<ion-header no-border>
    <ion-toolbar color="secondary">
        <ion-buttons left icon-only tappable (click)="goBack()">
            <button ion-button icon-only>
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title style="text-align: center">{{'forgetPassword.findPw' | translate}}</ion-title>
        <ion-buttons right icon-only>
            <button ion-button icon-only>
                <ion-icon name=""></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="login-container">
        <ion-item *ngIf="userid==''" no-lines style="text-align: center;border-bottom: 1px solid #f1f1f1">
            <ion-label>+{{country.phoneCode}}</ion-label>
            <ion-input type="number" placeholder="{{'forgetPassword.inputTel' | translate}}" name="phone"
                       [(ngModel)]="codeParam.usertel" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="userid!=''" no-lines style="text-align: center;border-bottom: 1px solid #f1f1f1">
            <!--<ion-label>+{{country.phoneCode}} {{codeParam.usertel}}</ion-label>-->
            <!--<ion-input type="number" placeholder="{{'forgetPassword.inputTel' | translate}}" name="phone"-->
                       <!--[(ngModel)]="codeParam.usertel" clearInput></ion-input>-->
            <ion-label>+{{country.phoneCode}}</ion-label>
            <ion-input type="number" placeholder="{{'forgetPassword.inputTel' | translate}}" name="phone"
                       [(ngModel)]="codeParam.usertel" clearInput></ion-input>
        </ion-item>
        <ion-item no-lines style="text-align: center;">
            <ion-input item-start type="number" placeholder="{{'forgetPassword.verificationCode' | translate}}"
                       name="idcardno" (keyup)="yanzmValid(registerCredentials.idcardno)"
                       [(ngModel)]="registerCredentials.idcardno" clearInput></ion-input>
            <button item-end ion-button color="secondary" clear [disabled]="!verifyCode.disable" tappable
                    (click)="getCode()" style="color: #0dacfa">{{verifyCode.verifyCodeTips}}
            </button>
        </ion-item>
        <button style="margin:3rem auto; width: 90%; display: block; background: #7ecffa; border-radius: 4px;" ion-button full color="primary" tappable
                (click)="resetPassword()">{{'forgetPassword.next' | translate}}
        </button>

    </div>
</ion-content>
