page-recovery-import {
  textarea.text-input {
    display: block;
    min-height: 6rem !important;
  }

  .button-md{
    box-shadow: none!important;
  }
  .button-md .button-effect {
    background-color: #ffcb13;
  }
}
