<!--
  Generated template for the MymessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons left icon-only tappable (click)="goBack()">
			<button ion-button icon-only>
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title style="text-align: center">消息管理</ion-title>

	</ion-toolbar>
</ion-header>
<ion-content>
	<img class="bgImg" src="assets/img/mine/meinv.jpg" >
	<ion-list>
		<ion-item no-lines margin-top="10px">
			<img item-left src="assets/img/message/msgpush.png" style="width: 21px;
			height: 21px;
			border-radius: 50%;">
			<ion-note item-left>张三</ion-note>
		</ion-item>
		<ion-item no-lines style="margin-top:1px" *ngFor="let tag of indexTags">

			<div *ngIf="tag.status=='1'" style="display: flex;justify-content: center;align-items: Center" item-left>
				<img item-left src="assets/img/message/msgpush.png" style="width: 21px;
			height: 21px;
			border-radius: 50%;">
				<p  style="flex: 150px" >{{tag.title}}</p>
				<button style="flex: 1;" ion-button small clear>点击查看</button>
			</div>
			<div *ngIf="tag.status=='2'" style="display: flex;justify-content: center;align-items: Center">
				<img item-left src="assets/img/message/msgpop.png" style="width: 21px;
			height: 21px;
			border-radius: 50%;">
				<p style="flex: 150px">{{tag.title}}!</p><button style="flex:1;" ion-button small clear style="color: yellow">点击操作</button>
			</div>


		</ion-item>
		<!--<ion-card *ngFor="let tag of indexTags">-->
		  <!--<ion-card-header>-->
		    <!--{{tag.title}}({{tag.status}})-->
		  <!--</ion-card-header>-->
		  <!--<ion-card-content>-->
		    <!--{{tag.content}}-->
		  <!--</ion-card-content>-->
		  <!--<ion-card-content >-->

	          <!--<p>-&#45;&#45;查看详细-&#45;&#45;</p>-->

		  <!--</ion-card-content>-->
		<!--</ion-card>-->
		 
	</ion-list>
</ion-content>
