page-alipay-add {
  .content-ios {
    background-color: #eef5fd !important;
  }
  .content-md {
    background-color: #eef5fd !important;
  }


  .item-md{
    font-size: 1.5rem;
  }
  .primary{
    color: #888;
  }

}

