page-fundpassword {
  .logo {
    width: 30%;
    height: 22vw;
    left: 35%;
    top: 30%;
    position: absolute;
    z-index: 2;
  }
  //.password{
  //  -webkit-text-security:disc;
  //  text-security:disc; /*使用指定形状代替文字显示 circle圆圈 disc 圆形 square 正方形*/
  //}
  a[disabled], button[disabled], [ion-button][disabled]{
    opacity: 1;
  }
  .IMGST{
    position: absolute;
    top: auto;
    left:0;
  }
  .item-md{
    background-color: transparent;
    padding-left: 0;
  }
  .registerCon{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22vw;
  }
  .inputSt{
    height: 30px;
    line-height: 30px;
    //border-bottom: .5px  solid #dddddd;
  }
  .leftSt{
    display: inline-flex;
    flex: 3;
    padding-left: 12px;
    //padding-bottom: 3px;
    border-bottom: 1px solid #dddddd;
  }
  .button-clear-ios-secondary{
    color: #0dacfa;
  }

  .button-clear-ios{
    color: #ffffff;
  }
  .nextST{
    background-color: rgb(251, 179, 14);
    border-radius: 4px;
    box-shadow: none!important;
    font-size:1.5rem;
  }
  .btnST{
    margin-top: 20%;
    text-align:center;
    height:24px;
    line-height:24px;
  }
  .login-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 50%;
    //height: 100%;
  }
  .item-ios{
    padding-left:0;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom:none;
  }
  .checkbox-ios .checkbox-icon{
    border-color: #2faff9;
    border-radius: 0%;
  }
  .checkbox-ios-dark .checkbox-checked{
    background-color: #2faff9;
  }
  .button-clear-md{
    color: #FFFFFF;
  }
  .text-input-md{
    margin:13px 0;
  }
}
