page-transferreceipt {
  .toolbar-md-primary .toolbar-background-md {
    background-color: #f9c215;
  }
  .card-md{
    text-align: center;
    margin: 0px;
    border-radius: 0px;
    width: calc(100% );
    height: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  }
  .card-md img{
    margin-top: 25%;
    width: 50%;
    display: inline;
  }
  .card-title-md{
    font-size: 1.8rem;
    color: #2a2b2d;
    padding: 0 0 6px 0;
  }
}
