page-password-reset {
  .btnCss {
    margin: 11rem auto 0;
    width: 90%;
    display: block;
    background-color: #7ecffa;
    box-shadow: none!important;
  }
  .btnCss.activated {
    background-color: #1f96f9;
  }

  .list-md .item-input:last-child{
    border:0;
  }
}
